<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

    <title>스파르타코딩클럽 | 팀프로젝트</title>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <!-- style -->
    <style>
        * {
            font-family: 'Stylish', sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        .rcmd-box {
            width: 500px;
            margin-top: 20px;
        }

        .rcmd-box > .custom-file {
            margin-bottom: 20px;
        }

    </style>

    <script>
        $(document).ready(function () {
            geoInfo();

            bsCustomFileInput.init();
            listing();
        });

        function geoInfo() {
            function onGeoOK(position) { //위치 정보 공유 승인 시
                const lat = position.coords.latitude; //위도
                const lng = position.coords.longitude; //경도

                $.ajax({
                    type: "POST",
                    url: "/near",
                    data: {lat_give: lat, lng_give: lng},
                    success: function (response) {
                        $('#card-box').empty();
                        nearList = response['nearList'];
                        for (let i = 0; i < nearList.length; i++) {
                            let title = nearList[i]['title'];
                            let address = nearList[i]['addr1'];
                            let image = nearList[i]['firstimage'];

                            if (!image) {
                                let temp_html = `<div class="card">
                                        <img src="../static/img/no-image.png" class="card-img-top" alt="이미지 없음">
                                            <div class="card-body" style="background-color: white;">
                                                <h5 class="card-title">${title}</h5>
                                                <p class="card-address">${address}</p>
                                            </div>
                                     </div>`;
                                $('#card-box').append(temp_html);
                            } else {
                                let temp_html = `<div class="card">
                                        <img src="${image}" class="card-img-top" alt="내 위치 근처 여행지">
                                            <div class="card-body" style="background-color: white;">
                                                <h5 class="card-title">${title}</h5>
                                                <p class="card-address">${address}</p>
                                            </div>
                                     </div>`;
                                $('#card-box').append(temp_html);
                            }
                        }
                    }
                })
            }

            function onGeoError() { //위치 정보 공유 거부 시
                alert('현재 위치를 찾을 수 없습니다.')
            }

            // 1번째 파라미터: 위치 공유 승인 시, 2번째 파라미터: 위치 공유 거부 시 실행
            navigator.geolocation.getCurrentPosition(onGeoOK, onGeoError);

        }

        function listing() {
            $.ajax({
                type: "GET",
                url: "/diary",
                data: {},
                success: function (response) {
                    let diaries = response['all_diary']
                    for (let i = 0; i < diaries.length; i++) {
                        let title = diaries[i]['title']
                        let content = diaries[i]['content']
                        let file = diaries[i]['file']


                        let temp_html = `<div class="card">
                                             <img src="../static/${file}" class="card-img-top">
                                             <div class="card-body">
                                                  <h5 class="card-title">${title}</h5>
                                                  <p class="card-text">${content}</p>
                                            </div>
                                         </div>`
                        $('#card-box1').append(temp_html)

                    }
                }
            })
        }

        function posting() {
            let title = $('#title').val()
            let content = $("#content").val()

            let file = $('#file')[0].files[0]
            let form_data = new FormData()

            form_data.append("file_give", file)
            form_data.append("title_give", title)
            form_data.append("content_give", content)

            $.ajax({
                type: "POST",
                url: "/diary",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }


    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">내 주변 여행지 추천</h1>
        <p class="lead">현재 위치를 기준으로 여행 코스를 추천합니다.</p>
        <hr class="my-4">
    </div>

    <div class="card-columns" id="card-box">

    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">내가 가본 여행지 추천</h1>
            <p class="lead">내가 가본 여행지를 추천합니다.</p>
            <div class="rcmd-box">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file">
                    <label class="custom-file-label" for="file">사진 선택하기</label>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="title"
                           placeholder="장소 이름을 입력해 주세요.">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="content" rows="3"
                              placeholder="어떤 점이 좋았나요?"></textarea>
                </div>
                <button onclick="posting()" type="button" class="btn btn-primary">추천하기</button>
            </div>
        </div>
    </div>

    <div class="card-columns" id="card-box1">

    </div>
</div>
</body>

</html>